<!--The content below is only a placeholder and can be replaced.-->
<div id="center">

  <h1>Welcome, {{userName}}!</h1>
  <hr>

  <form>
    <input [(ngModel)]="userName" type="text" name="user" placeholder="enter your username">
  </form>

  <br>
  <h1>To Do List for {{month}}/{{day}}/{{year}}</h1>
  <h3>{{currentFocus}}</h3>
  <app-task-list [childTaskList]="masterTaskList" (clickSender)="editTask($event)"></app-task-list>

  <hr>
  <br>
  <app-edit-task [childSelectedTask]="selectedTask" (clickedDone)="finishedEditing()"></app-edit-task>

  <app-new-task (sendTask)="addTask($event)"></app-new-task>


