

#center {
    padding: 40px;
}

input:not([type=checkbox]):not([type=radio]) {
    width: 500px;
}

button {
    float: right;
}

li {
    height: 30px;
}


* {
    background-color: rgb(206, 26, 212);
}